.footer{
    background: #0F141E;
    padding: 2rem 0rem;
    color: $text-light;

    .section_heading{
        display: block;
        text-align: center;
        padding: 1rem 0;
        h2{
            padding-bottom: 1rem;
            span{
                color: $secondary;
            }
        }

        ul{
            width: 300px;
            display: flex;
            justify-content: space-between;
            margin: auto;
            li{
                width: 40px;
                display: inline-block;
                background: rgb(63, 57, 57);
                padding: 0.5rem 0.5rem 0.3rem 0.5rem;
                border-radius: 50%;
                cursor: pointer;
                font-size: 1.2rem;
                &:nth-child(1){
                    &:hover{
                        background : linear-gradient(to right, #ff512f, #dd2476);
                    }
                }
                &:nth-child(2){
                    &:hover{
                        background : $primary;
                    }
                }
                &:nth-child(3){
                    &:hover{
                        background : red;
                    }
                }
                &:nth-child(4){
                    &:hover{
                        background : green;
                    }
                }
                &:nth-child(5){
                    &:hover{
                        background : $primary;
                    }
                }
            }
        }
    }

    .footer_row{
        @include flex(space-between,center, wrap);
        

        .col{
            margin-bottom: 1rem;
            ul{
                
                li{
                    padding: 0.3rem 0;
                    color: $text-light;
                    font-size: 0.9rem;
                    cursor: pointer;
                }
                .head{
                    color: gray;
                }
            }
        }
    }
    .copyright{
        display: block;
        text-align: center;
        padding: 1rem 0;
        h4{
            font-weight: 300;

        }
        p{
            color: $primary;
        }
    }
    
}


@media only screen and (max-width:768px){
    .footer{
    
        .section_heading{
            ul{
                width: 70%;
                li{
                    
                    &:nth-child(1){
                        
                            background : linear-gradient(to right, #ff512f, #dd2476);
                    }
                }
            }
        }
    
        .footer_row{
            .col{
                margin-bottom: 1rem;
                padding: 1rem;
                ul{
                    
                    li{
                        padding: 0.3rem 0;
                        color: $text-light;
                        font-size: 0.9rem;
                    }
                    .head{
                        color: gray;
                    }
                }
            }
        }
        
    }  
}