.login__container{
    // margin: 2rem 0;
    .login__row{
        @include flex(space-between, center, wrap);

        .login__col{
            flex-basis: 50%;
            .login__form{
                width: 60%;                
                margin: auto;
                box-shadow: $box-shadow;
                padding: 1rem 2rem;
                 h2{
                     text-align: center;
                     :nth-child(1){
                         color: $primary;
                     }
                     :nth-child(2){
                         color: $secondary;
                     }
                 }

                .col{
                    position: relative;
                    width: 100%;
                    margin: 1rem 0;
                    label{
                        display: block;
                        color: $text-dark;
                    }
                    input{
                        width: 100%;
                        padding: 0.5rem 0.5rem;
                        border: 0;
                        background: $bg-input;

                        &:focus{
                            outline: 1px solid $primary;
                        }
                    }
                    small{
                        position: absolute;
                        top: 50%;
                        right: 3%;
                        color: $text-dark;
                        transform: translateY(10%);
                        font-size: 1.2em;
                        cursor: pointer;
                    }
                }
                .button{
                    .login__button{
                        display: block;
                        width: 100%;
                    }
                    .register__button{
                        background: none;
                        border: 0;
                        color: blue;
                        text-decoration: underline;
                        padding-top: 1rem;
                        cursor: pointer;
                    }
                }
            }
        }

        .login__col__img{
            width: 100%;
            margin: auto;
            object-fit: cover;
            img{
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width:768px){
    .login__container{
        .login__row{

            .login__col{
                flex-basis: 100% !important;
                margin-top: 2rem;
    
                .login__form{
                    width: 100% !important;
                    box-shadow: none !important;
                }
            }
            .login__col__img{
                width: 100%;
                img{
                    width: 100% !important;
                }
            }
        }
    }
   
}