.register__container {
  // margin: 2rem 0;
  .register__row {
    @include flex(space-between, center, wrap);

    .register__col {
      flex-basis: 50%;
      .register__form {
        width: 60%;
        margin: auto;
        box-shadow: $box-shadow;
        padding: 1rem 2rem;
        h2 {
          text-align: center;
          :nth-child(1) {
            color: $primary;
          }
          :nth-child(2) {
            color: $secondary;
          }
        }

        .col {
          position: relative;
          width: 100%;
          padding: 0.9rem 0;

          label {
            display: block;
            color: $text-dark;
            font-size: 0.9rem;
          }
          input {
            width: 100%;
            padding: 0.5rem 0.5rem;
            border: 0;
            background: $bg-input;

            &:focus {
              outline: 1px solid $primary;
            }
          }
          small {
            position: absolute;
            top: 45%;
            right: 3%;
            color: gray;
            transform: translateY(10%);
            font-size: 1.2em;
            cursor: pointer;
          }
          span {
            color: $secondary;
            font-size: 0.8rem;
            font-weight: 500;
            position: absolute;
            left: 0;
            bottom: -10%;
          }
        }
        .button {
          margin: 1rem 0;
          .register__button {
            display: block;
            width: 100%;
          }
          .login__button {
            background: none;
            border: 0;
            padding-top: 1rem;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
          }
          .google__button {
            float: right;
            margin-top: 0.8rem;
            padding: 0.5rem 1rem;
            background: none;
            color: $text-dark;
            font-weight: 600;
            border: 1px solid gray;
            cursor: pointer;
            outline: 0;

            .google__icon {
              margin-right: 0.5rem;
              font-size: 1rem;
            }
          }
        }
      }
    }

    .register__col__img {
      width: 100%;
      margin: auto;
      object-fit: cover;
      img {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .register__container {
    .register__row {
      .register__col {
        flex-basis: 100% !important;
        margin-top: 1rem;

        .register__form {
          width: 100% !important;
          box-shadow: none !important;
        }
      }
      .register__col__img {
        margin-top: -3rem;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}
