.editor{
    .editor__row{
        @include flex(space-between, auto, nowrap);
        
        .editor__col{
            flex-basis:50%;
        }
        .editor__input__heading{
            padding-top: 1rem;
            h2{
                display: block;
                text-align: center;
                color: $secondary;
            }
        }
        .editor_preview_parent{
            background: #656E83;
        }
        .editor__temp__loader{
            padding: 0rem 1rem 1rem 1rem;
            height: 90vh;
            margin-top: 3rem;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
              }


            button{
                display: block;
                margin: auto;
                margin-top: 1rem;
            }
        }

        .editor__input__fields{
            height: 80vh;
            margin-top: 2rem;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
              }
        }
        .editor__download__button{
            position: absolute;
            right: 22%;
            transform: translateX(25%);
        }
    }
}

@media only screen and (max-width:768px){
    .editor{
        .editor__row{
            @include flex(space-between, center, wrap);
            .editor__col{
                flex-basis: 100% !important;
                margin-bottom: 2rem;

            }
            .editor__input__fields{
                margin-top: 2rem;
            }

            .editor__download__button{
                position: fixed;
                bottom: 2%;
                right: 10%;
            }
            .editor_preview_parent{
                display: none;
            }
        }
    }

}