.input__loader{
    .input__row{
        @include flex(space-between, center, wrap);

        h4{
            width: 100%;
            display: block;
            color: $secondary;
            text-align: center;
            padding-bottom: 1rem;
            font-size: 1.2rem;
        }
        
        .input__col{
            position: relative;
            width: 48%;
            padding: 0.5rem 0;
            margin-top: 1rem;

            h3{
                display: block !important;
                width: 20rem;
                position: absolute;
                top: -20%;
                color: $text-dark !important;
                font-size: 1.4rem;
            }

            label{
                font-size: 0.8rem !important;
                color: gray !important;
            }

            input{
                width: 100%;
                padding: 0.8rem 0.5rem;
                border: 0;
                outline: none;
                background: $bg-input;
                word-wrap: unset;
                
                &:focus{
                    border-bottom : 1px solid $primary;
                }
            }  
        }

       .input__new__section{
            position: relative;
            width: 100%;
            margin-top: 1.4rem;


                .input__summary{
                    font-size: 0.9rem;
                    word-wrap: wrap;
                    background: $bg-input;
                    width: 100% !important;
                    border: 0;
                    outline: none;
                    resize: none;
                }

            }

        .input__date{

            label{
                display: block !important;
            }
            input{
                width: 48% !important;
                color: gray;
            }
            :last-child{
                float: right;
            }
        }
    }
}

@media only screen and (max-width:400px){
    .input__loader{
        width: 90% !important;

        .input__row{
    
            .input__col{
                width: 100% !important;
                padding: 0.5rem 0;
    
                input{
                    width: 100% ;
                    padding: 0.7rem 0.5rem;
    
                    &:focus{
                        border-bottom: 1px solid $primary;
                    }
                }
            }
            .input__summary{
                background: $bg-input;
                font-size: 0.9rem;
            }
            
        }
    }
}